@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{

    /* rename all this names */

    --accent-color-500: hsl(225, 85%, 18%);
    --accent-color-400: hsl(225, 85%, 40%);
    --accent-color-300: hsl(236, 88%, 75%);
    --accent-color-100: hsl(225, 100%, 96%);

    --primary-color-400: hsl(228, 39%, 23%);

    --neutral-color-900: hsl(232, 12%, 13%);
    --neutral-color-200: hsl(0, 0%, 97%);
    --neutral-color-100: hsl(0, 0%, 100%);

    --font-family-primary: 'Poppins', san-serif;

    --font-family-body: var(--font-family-primary);
    --font-family-heading: var(--font-family-primary);

    --font-weight-regular: 400;
    --font-weight-italic: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --font-size-300: 0.8125rem;
    --font-size-400: 0.875rem;
    --font-size-500: 0.9375rem;
    --font-size-600: 1rem;
    --font-size-700: 1.875rem;
    --font-size-800: 2.5rem;
    --font-size-900: 3.5rem;

    --font-size-body: var(--font-size-400);
    --font-size-primary-heading: var(--font-size-800);
    --font-size-secondary-heading: var(--font-size-700);
    --font-size-tertiary-heading: var(--font-size-600);
    --font-size-nav: var(--font-size-500);
    --font-size-button: var(--font-size-300);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}

@media (min-width: 47em){
    :root{
        --font-size-body: var(--font-size-500);
        --font-size-primary-heading: var(--font-size-900);
        --font-size-secondary-heading: var(--font-size-800);
        --font-size-tertiary-heading: var(--font-size-700);
        --font-size-nav: var(--font-size-300);
    }
}

/* box sizing */

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role="list"],
ol[role="list"]{
    list-style: none;
}

html:focus-within{
    scroll-behavior: smooth;
}

html, body {
    /* height: 100%; */
    min-height: 100%;
    overflow-x: hidden;
}

body{
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

img, picture, svg{
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce){
    html:focus-within{
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* General styling */

body {
    font-size: var(--font-size-body);
    font-family: var(--font-family-body);
    color: var(--primary-color-400);
}

p:not([class]) {
    opacity: 0.7;
    max-width: 32ch;
}

p[data-width="wide"] {
    max-width: 42ch;
}

/* button */

.button {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 1.25em 2.5em;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-button);
    line-height: 1;
    color: var(--neutral-color-100);
    background-color: var(--accent-color-400);
    box-shadow: 0 1.125em 1em -1em var(--accent-color-500);
}

.button[data-type="inverted"] {
    background-color: var(--neutral-color-100);
    color: var(--accent-color-400);
}

.button[data-shadow="none"] {
    box-shadow: none;
}

.button:hover, .button:focus-visible {
    background-color: var(--accent-color-300);
    color: var(--accent-color-400);
}

.button[data-type="inverted"]:hover, .button[data-type="inverted"]:focus-visible{
    background-color: var(--neutral-color-100);
    color: var(--accent-color-300);
}

/* navigation */

.primary-header {
    padding-top: var(--size-700);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    font-size: var(--font-size-nav);
}
.nav-list {
    display: flex;
    gap: clamp(var(--size-500), 5vw, var(--size-600));
    font-weight: var(--font-weight-semi-bold);
}
.nav-list a {
    text-decoration: none;
    color: var(--primary-color-400);
}
.nav-list a:hover, .nav-list a:focus {
    color: var(--accent-color-400);
}

@media (max-width: 47em) {
    .primary-header[data-overlay] {
        position: relative;
        z-index: 999;
    }
    .primary-navigation {
        display: none;
        position: fixed;
        padding: var(--size-700);
        inset: 7rem var(--size-400) auto;
        max-width: 25rem;
        margin-inline: auto;
        background: var(--neutral-color-100);
        border-radius: var(--size-100);
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
    }
    .primary-header[data-overlay]::before {
        content: "";
        position: fixed;
        inset: 0;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    }
    .nav-list {
        display: grid;
        gap: var(--size-600);
        text-align: center;
        font-weight: var(--font-weight-bold);
    }
    .primary-navigation[data-visible] {
        display: block;
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: var(--size-600);
        right: var(--size-400);
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        width: 1.65rem;
        aspect-ratio: 1;
        background-image: url("imgs/icon-hamburger.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("imgs/icon-close.svg");
    }
}

/* footer */

.primary-footer {
    --logo-color: var(--neutral-color-100);
}

.primary-footer__wrapper {
    display: grid;
    gap: var(--size-700);
    justify-content: center;
    align-items: start;
    grid-template-areas: "form" "nav" "social" "logo" "copyright";
}

.primary-footer__wrapper > * {
    margin-inline: auto;
}

.primary-footer__logo {
    grid-area: logo;
}

.primary-footer__form {
    grid-area: form;
}

.primary-footer__copyright {
    grid-area: copyright;
    text-align: center;
    opacity: 0.7;
}

.primary-footer__nav-wrapper {
    grid-area: nav;
    margin-inline: auto;
}

/* footer navigation */

.footer-nav {
    columns: 2;
    gap: clamp(4rem, 10vw, 7rem);
}

.footer-nav a {
    color: var(--neutral-color-100);
    text-decoration: none;
}

.footer-nav a:is(:hover, :focus) {
    color: var(--accent-color-400);
}

.primary-footer__form {
    grid-area: form;
    display: flex;
    gap: var(--size-200);
}

input:where([type="text"], [type="email"],) {
    border-radius: 100vw;
    border: 0;
    padding: var(--size-300) var(--size-500);
    width: max(100%, 14rem);
}

@media (min-width: 47em) {
    .primary-footer__wrapper {
        grid-template-areas: 
        "logo nav form"
        "social nav copyright";
        grid-template-columns: min-content 1fr auto;
    }
    .primary-footer__copyright {
        text-align: right;
    }
}

@media (max-width: 47em) {
    .primary-footer__wrapper > * {
            margin-inline: auto;
    }
}

/* social list */


.social-list {
    display: flex;
    gap: var(--size-600);
}

.social-icon {
    width: var(--size-600);
    aspect-ratio: 1;
    fill: var(--neutral-color-100);
}

@media (min-width: 47em) {
    .social-list {
        gap: var(--size-300);
    }
    .social-icon {
        width: var(--size-500);
        max-width: revert;
    }
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: var(--accent-color-400);
}

/* @media (min-widt: 50em) {
    .social-list {
        display: flex;
        gap: var(--size-300);
    }
    .social-icon {
        width: var(--size-500);
    }
} */

/* cta */

/* .cta {
    position: relative;
    isolation: isolate;
    text-align: center;
}

@media (min-width: 47em) {
    .cta {
        text-align: left;
    }
}

.cta::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    /* background-image: 
        url("imgs/bg-tablet-pattern.svg"),
        url("imgs/bg-tablet-pattern.svg");
    background-position: -15rem -5rem, 80rem, -42rem;
    background-repeat: no-repeat;
    opacity: 0.1; */
}
 */
/* numbered items */

.numbered-items {
    counter-reset: count;
    width: fit-content;
    margin-inline: auto;
}

.numbered-items li {
    counter-increment: count;
}

.numbered-items div {
    display: grid;
    position: relative;
    align-items: center;
    column-gap: var(--size-300);
    grid-template-columns: min-content 1fr;
}

.numbered-items__title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    line-height: 1;
}

.numbered-items__body{
    grid-column: 1 / -1;
}

@media (min-width: 30em) {
    .numbered-items__body {
        grid-column: 2 / -1;
    }
}

.numbered-items div::before, .numbered-items div::after {
    height: 40px;
}

.numbered-items div::before {
    content: "0" counter(count);
    display: flex;
    align-items: center;
    color: var(--neutral-color-100);
    font-weight: var(--font-weight-bold);
    background-color: var(--accent-color-400);
    padding: 0 var(--size-500);
    border-radius: 100vw;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

@media (max-width: 30em) {
    .numbered-items div::after {
        --bg: var(--accent-color-100);
        content: "";
        display: block;
        z-index: -1;
        border-radius: 100vw 0 0 100vw;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        box-shadow: 5em 0 0 var(--bg);
        background: var(--bg);
    }
}

/* slider */

.slider {
    display: flex;
    gap: var(--size-600);
    list-style: none;
}

.a11y-slider-container {
    margin-block: var(--size-700);
    margin-inline: var(--size-400);
}

.slider > * {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
} 

@media (min-width: 30em) {
    .slider {
        scroll-padding-inline: 25px;
    }
    .a11y-slider-container {
        margin-inline: 0;
    }
    .slider > * {
        width: 50%;
    }
}

@media (min-width: 47em) {
    .slider > * {
        width: 35%;
    }
}

.slider-content {
    border-radius: var(--size-100);
    padding: var(--size-700) var(--size-600) var(--size-600);
    background: var(--neutral-color-200);
}

.slider img {
    width: var(--size-800);
    position: relative;
    top: calc(var(--size-800) / 2);
    margin-inline: auto;
} 

.a11y-slider-dots {
    display: flex;
    justify-content: center;
    margin-block: var(--size-500);
    gap: var(--size-300);
}

.a11y-slider-dots li {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
}

.a11y-slider-dots li button {
    display: block;
    font-size: 0;
    text-indent: -9999px;
    background: transparent;
    border: 1px solid var(--accent-color-400) !important;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.a11y-slider-dots li button.active {
    background: var(--accent-color-400);
}

/* hero */

@media (max-width: 47em) {
    .hero__image {
        /* position: relative; */
        order: -1;
    }
}

.hero__image::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 85%;
    max-height: 70vh;
    max-height: 70dvh;
    aspect-ratio: 1 / 1.2;
    /* background-image: url("imgs/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: bottom left; */
}

@media (min-width: 47em) {
    .hero__image::before {
        width: 45%;
    }
}

/* sales points */


/* .sales-points__blog {
    position: relative;
} */
/*
.sales-points__blog::before {
    content: url("imgs/bg-tablet-pattern.svg");
    zoom: 40%;
    position: absolute;
    z-index: -1;
    left: 70%;
    bottom: 120%;
    width: 100px;
}

@media (min-width: 47em) {
    .sales-points__blog::before {
        zoom: 70%;
        z-index: -1;
        left: -500px;
        top: 42%;
        width: 100px;
    }
} */

/* utility classes */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.container {
    --max-width: 1110px;
    --container-padding: 1rem;
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

@media (min-width: 47em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.vertical-align-center {
    align-items: center;
}

.justify-self-end {
    justify-self: end;
}

@media (min-width: 47em) {
    .justify-self-end-md {
        align-items: center;
    }
}

/* .flow * + * {
    margin-top: var(--flow-spacer, 4em);
} */

:where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 3em);
}

.text-center {
    text-align: center;
}
.text-center p {
    margin-inline: auto;
}

@media (max-width: 47em) {
    .text-center-sm-only {
        text-align: center;
    }
    .text-center-sm-only p {
        margin-inline: auto;
    }
}

.text-primary-400 {
    color: var(--primary-color-400);
}
.text-accent-400 {
    color: var(--accent-color-400);
}
.text-accent-100 {
    color: var(--accent-color-100);
}
.text-neutral-100 {
    color: var(--neutral-color-100);
}
.text-neutral-900 {
    color: var(--neutral-color-900);
}

.bg-primary-400 {
    background-color: var(--primary-color-400);
}
.bg-accent-400 {
    background-color: var(--accent-color-400);
}
.bg-accent-100 {
    background-color: var(--accent-color-100);
}
.bg-neutral-100 {
    background-color: var(--neutral-color-100);
}
.bg-neutral-900 {
    background-color: var(--neutral-color-900);
}

.font-weight-bold {
    font-weight: var(--font-weight-bold);
}
.font-weight-semi-bold {
    font-weight: var(--font-weight-semi-bold);
}
.font-weight-regular {
    font-weight: var(--font-weight-regular);
}
.font-size-primary-heading {
    font-size: var(--font-size-primary-heading);
    line-height: 1.1;
}
.font-size-secondary-heading {
    font-size: var(--font-size-secondary-heading);
    line-height: 1.1;
}
.font-size-tertiary-heading {
    font-size: var(--font-size-tertiary-heading);
    line-height: 1.1;
}

.font-size-300{
    font-size: var(--font-size-300);
}
.font-size-400{
    font-size: var(--font-size-400);
}
.font-size-500{
    font-size: var(--font-size-500);
}
.font-size-600{
    font-size: var(--font-size-600);
}

.padding-block-900 {
    padding-block: var(--size-900);
}
.padding-block-900 {
    padding-block: var(--size-900);
}
.padding-block-700 {
    padding-block: var(--size-700);
}

.margin-bottom-700 {
    margin-block-end: var(--size-700);
}

.margin-top-900 {
    margin-block-start: var(--size-900);
}

.mx-auto {
    margin-inline: auto;
}

.display-small-none {
    display: none;
}

@media (min-width: 47em) {
    .display-medium-inline-flex {
        display: inline-flex;
    }
}