
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                          <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">Edit About Us</h3>
                            </div>
                            <form role="form" action="" method="post">
                              <div class="card-body">
                                <div class="form-group">
                                  <label>Edit About Us</label>
                                  <input type="text" class="form-control" name="writeUp" placeholder="Enter writeup" value="mainNewswriteUp">
                                  <input type="text" class="form-control" name="link" placeholder="Enter link" value="mainNewslink">
                                  <input type="hidden"  name="newsId"  value="newsID">
                                </div>  
                              </div>
              
                              <div class="card-footer">
                                <button type="submit" class="button is-primary is-fullwidth">Save</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        </div>
                    </div>
                </section>