{% extends "dashboard.html" %}

{% block contents %}
<div class="col-lg-12">
  <div class="card">
      <div class="card-title pr">
          <h4>Edit Bath Section</h4>

      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table student-data-table m-t-20">
                {% for message in get_flashed_messages() %}
                    {% if messages %}
                            <div class="notification is-danger">
                                {{ messages[0] }}
                            </div>
                    {% endif %}
                {% endfor %}
                  <thead>
                      <tr>
                          <th>Website Name</th>
                          <th>Link</th>
                          <th>Details</th>
                          <th>Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for bath in baths %}
                      <tr>
                          <td style="white-space: nowrap;">{{ bath.name }}</td>
                          <td>{{ bath.link }}</td>
                          <td>
                            {{ bath.description }}
                          </td>
                          <td style="white-space: nowrap;">
                            <a href="{{ url_for('editBath', id=bath.id) }}"><button type="button" class="btn btn-danger">Edit</button></a>&nbsp;<a href="{{ url_for('deleteBath', id=bath.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
  </div>
  <a href="{{ url_for('addBath') }}"><button type="button" class="btn btn-danger">Add new details</button></a>
</div>

{% endblock %}