{% extends "dashboard.html" %}

{% block contents %}
<div class="col-lg-12">
  <div class="card">
      <div class="card-title pr">
          <h4>Edit Bedroom Section</h4>

      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table student-data-table m-t-20">
                {% for message in get_flashed_messages() %}
                    {% if messages %}
                            <div class="notification is-danger">
                                {{ messages[0] }}
                            </div>
                    {% endif %}
                {% endfor %}
                  <thead>
                      <tr>
                          <th>Website Name</th>
                          <th>Link</th>
                          <th>Details</th>
                          <th>Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for bedroom in bedrooms %}
                      <tr>
                          <td>{{ bedroom.name }}</td>
                          <td>{{ bedroom.link }}</td>
                          <td>
                            {{ bedroom.description }}
                          </td>
                          <td>
                            <a href="{{ url_for('deleteBedroom', id=bedroom.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
  </div>
</div>

{% endblock %}