<!-- 
    
    This admin dashboard template was gotten from from [Github](https://github.com/themefisher/focus/ and edited to suit the project it was intended for

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>Admin Dashboard</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="#"><!-- http://placehold.it/64.png/000/fff"> -->
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="#"><!-- http://placehold.it/64.png/000/fff"> -->
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="#"><!-- http://placehold.it/64.png/000/fff"> -->
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="#"><!-- http://placehold.it/64.png/000/fff"> -->
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="#"><!-- http://placehold.it/64.png/000/fff"> -->
    <!-- Styles -->
    <!-- <link href="../static/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/themify-icons.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidebar.css') }}">
    <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/helper.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="{{ url_for('dashboard') }}"></a></div>

                    <!-- <li><a href="{{ url_for('addFurniture') }}"><i class="ti-plus"></i>Add Furniture</a></li> -->
                    <li><a href="{{ url_for('furniture') }}"><i class="ti-pencil-alt"></i>Edit Furniture</a></li>
                    <!-- <li><a href="{{ url_for('addDecor') }}"><i class="ti-plus"></i>Add Decor</a></li> -->
                    <li><a href="{{ url_for('decor') }}"><i class="ti-pencil-alt"></i>Edit Decor</a></li>
                    <!-- <li><a href="{{ url_for('addBedroom') }}"><i class="ti-plus"></i>Add Bedroom</a></li> -->
                    <li><a href="{{ url_for('bedroom') }}"><i class="ti-pencil-alt"></i>Edit Bedroom</a></li>
                    <!-- <li><a href="{{ url_for('addBath') }}"><i class="ti-plus"></i>Add Bath</a></li> -->
                    <li><a href="{{ url_for('bath') }}"><i class="ti-pencil-alt"></i>Edit Bath</a></li>
                    <!-- <li><a href="{{ url_for('addArt') }}"><i class="ti-plus"></i>Add Art</a></li> -->
                    <li><a href="{{ url_for('art') }}"><i class="ti-pencil-alt"></i>Edit Art</a></li>
                    <li><a href="{{ url_for('register') }}"><i class="ti-plus"></i>Add new user</a></li>

                    <li><a href="{{ url_for('profile') }}"><i class="ti-user"></i> Profile</a></li>
                    <li><a href="{{ url_for('logout') }}"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">

                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">{{ current_user.name }}</span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>

                <!-- /# row -->


                <section id="main-content">
                    {% with messages = get_flashed_messages(with_categories=true) %} 
                    {% if messages %} 
                    {% for category, message in messages %} 
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissable fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% else %}
                        <div class="alert alert-success alter-dismissable fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% endif %} 
                        {% endfor %} 
                        {% endif %} 
                        {% endwith %}
                       
                        {% block contents %}
                        {% endblock %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>Copyright 2022. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- jquery vendor -->
    <!-- <script src="../static/js/jquery.min.js"></script> -->
    <!-- <script src="../static/js/jquery.nanoscroller.min.js"></script> -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.js" integrity="sha512-jRu7VgfHgEVAPSNTNCaAgBrb5baW87LhMhspQmeXhrAekHX/TWH3eiUAnOBPaIvd1uLo7ggrFOjV1CY0qfXP9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- nano scroller -->
    <script src="{{ url_for('static', filename = 'js/sidebar.js') }}"></script>


    <!-- <script src="../static/js/pace.min.js"></script> -->
    <!-- sidebar -->
    <!-- <script src="../static/js/bootstrap.min.js"></script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <!-- scripit init-->
    <!-- <script src="../static/js/dashboard2.js"></script> -->
    <!-- <script src="../static/js/login.js"></script> -->
</body>

</html>
