{% extends "dashboard.html" %}

{% block contents %}


<div class="column is-4 is-offset-4">
    <h3 class="text-center">Add Art Details</h3>
    <div class="box">

        <form method="POST" action="/add-art">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name of website" autofocus=""/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="link" name="link" placeholder="Enter website link"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter description"/>
            </div>
            <button type="submit" class="button is-block is-primary is-fullwidth">Submit</button>
        </form>
    </div>
</div>

{% endblock %}