<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webs</title>
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/a11y-slider@latest/dist/a11y-slider.css" />
    <script src="https://unpkg.com/a11y-slider@latest/dist/a11y-slider.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="nav-container">
                <a href="#">
                    <svg class="logo" width="146" height=" 100">
                        <use xlink:href="{{url_for('static', filename='imgs/logodark.svg#logodark') | replace('%23', '#') }}"></use>
                    </svg>
                </a>
                <button class="mobile-nav-toggle" aria-controls="navigation" aria-expanded="false">
                    <span class="visually-hidden">Menu</span>
                </button>
                <nav class="navigation" id="navigation">
                    <ul aria-label="Primary" role="list" class="nav-list">
                        <li><a href="#Furniture">Furniture</a></li>
                        <li><a href="#Decor">Decor</a></li>
                        <li><a href="#Bedroom">Bedroom</a></li>
                        <li><a href="#Bath">Bath</a></li>
                        <li><a href="#Art">Art</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('login')}}">Admin</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <a href="#newsletter">
                <button class="button | display-medium-inline-flex">Newsletter</button>
                </a>
            </div>
        </div>
    </header>
    <main>
        <section class="hero | text-center-sm-only padding-block-900">
            <div class="container">
                <div class="even-columns">
                    <div class="flow">
                        <h1 class="font-size-secondary-heading font-weight-bold">There's so much inspirational ideas for your dream homes</h1>
                        <p>With visuals to inspire anyone when looking for new concepts for home decoration and designs, you can get the best experience by making choices based on the shops, services, and amazing prices they offer. We are giving you five of the best in every section.</p>
                        <a href="#newsletter">
                            <button class="button">Newsletter</button>
                        </a>
                    </div>
                    <div class="hero__image">
                        <img class="mx-auto" src="{{ url_for('static', filename = 'imgs/home.png') }}" alt="">
                        <p>(Image credit: Sara Tramp)</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sites | padding-block-900">
            <div class="container">
                <h2 class="sites-heading font-size-secondary-heading font-weight-bold text-center" id="Furniture">Furniture</h2>
                <div class="even-columns">
                    <div class="sites-img | flow text-center-sm-only" style="--flow-spacer: 1.5rem">
                        <h2 class="font-size-tertiary-heading font-weight-bold">The best home decoration websites for your furnitures</h2>
                        <div class="hero__image">
                            <img class="mx-auto" src="{{ url_for('static', filename = 'imgs/jonathanadler-furniture.png') }}" alt="">
                            <p>(Image credit: Jonathanadler)</p>
                        </div>
                    </div>
                    <div>
                        <ul class="numbered-items |  flow" role="list">
                            {% for furniture in furnitures %}
                            <li>
                                <div class="flow" style="--flow-spacer: 1em">
                                    <h3 class="numbered-items-title | font-size-600 font-weight-bold"><a href="{{ furniture.link }}" target="_blank">{{ furniture.name }}</a> </h3>
                                    <p class="numbered-items-body" data-width="wide">{{ furniture.description }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="sites | padding-block-700">
            <div class="container">
                <h2 class="sites-heading font-size-secondary-heading font-weight-bold text-center" id="Decor">Decor</h2>
                <div class="even-columns">
                    <div class="sites-img | flow text-center-sm-only" style="--flow-spacer: 1.5rem">
                        <h2 class="font-size-tertiary-heading font-weight-bold">These websites provide best decorations and accessories</h2>
                        <div class="hero__image">
                            <img class="mx-auto" src="{{ url_for('static', filename = 'imgs/horchow-decor.png') }}" alt="">
                            <p>(Image credit: Horchow)</p>
                        </div>
                    </div>
                    <div>
                        <ul class="numbered-items |  flow" role="list">
                            {% for decor in decors %}
                            <li>
                                <div class="flow" style="--flow-spacer: 1em">
                                    <h3 class="numbered-items-title | font-size-600 font-weight-bold"><a href="{{ decor.link }}" target="_blank">{{ decor.name }}</a> </h3>
                                    <p class="numbered-items-body" data-width="wide">{{ decor.description }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="sites | padding-block-700">
            <div class="container">
                <h2 class="sites-heading font-size-secondary-heading font-weight-bold text-center" id="Bedroom">Bedroom</h2>
                <div class="even-columns">
                    <div class="sites-img | flow text-center-sm-only" style="--flow-spacer: 1.5rem">
                        <h2 class="font-size-tertiary-heading font-weight-bold">The best home decoration websites for your bedroom</h2>
                        <div class="hero__image">
                            <img class="mx-auto" src="{{ url_for('static', filename = 'imgs/coyuchi-bed.png') }}" alt="">
                            <p>(Image credit: Coyuchi)</p>
                        </div>
                    </div>
                    <div>
                        <ul class="numbered-items |  flow" role="list">
                            {% for bedroom in bedrooms %}
                            <li>
                                <div class="flow" style="--flow-spacer: 1em">
                                    <h3 class="numbered-items-title | font-size-600 font-weight-bold"><a href="{{ bedroom.link }}" target="_blank">{{ bedroom.name }}</a> </h3>
                                    <p class="numbered-items-body" data-width="wide">{{ bedroom.description }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="sites | padding-block-700">
            <div class="container">
                <h2 class="sites-heading font-size-secondary-heading font-weight-bold text-center" id="Bath">Bath</h2>
                <div class="even-columns">
                    <div class="sites-img | flow text-center-sm-only" style="--flow-spacer: 1.5rem">
                        <h2 class="font-size-tertiary-heading font-weight-bold">Websites for inspiration for your bathroom</h2>
                        <div class="hero__image">
                            <img class="mx-auto" src="{{ url_for('static', filename = 'imgs/society6-bath.png') }}" alt="">
                            <p>(Image credit: Society6)</p>
                        </div>
                    </div>
                    <div>
                        <ul class="numbered-items |  flow" role="list">
                            {% for bath in baths %}
                            <li>
                                <div class="flow" style="--flow-spacer: 1em">
                                    <h3 class="numbered-items-title | font-size-600 font-weight-bold"><a href="{{ bath.link }}" target="_blank">{{ bath.name }}</a> </h3>
                                    <p class="numbered-items-body" data-width="wide">{{ bath.description }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="sites | padding-block-700">
            <div class="container">
                <h2 class="sites-heading font-size-secondary-heading font-weight-bold text-center" id="Art">Art</h2>
                <div class="even-columns">
                    <div class="sites-img | flow text-center-sm-only" style="--flow-spacer: 1.5rem">
                        <h2 class="font-size-tertiary-heading font-weight-bold">Best Websites for Artworks around the house and office</h2>
                        <div class="hero__image">
                            <img class="mx-auto" src="{{ url_for('static', filename = 'imgs/jonathanadle2-art.png') }}" alt="">
                            <p>(Image credit: Jonathanadler)</p>
                        </div>
                    </div>
                    <div>
                        <ul class="numbered-items |  flow" role="list">
                            {% for art in arts %}
                            <li>
                                <div class="flow" style="--flow-spacer: 1em">
                                    <h3 class="numbered-items-title | font-size-600 font-weight-bold"><a href="{{ art.link }}" target="_blank">{{ art.name }}</a> </h3>
                                    <p class="numbered-items-body" data-width="wide">{{ art.description }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="carousel | padding-block-900 text-center">
            <div class="container"><h2 class="font-size-secondary-heading font-weight-bold">Hear From Them</h2></div>
            <!-- Carousel here -->
            <ul class="slider">
                <li>
                    <img src="{{ url_for('static', filename = 'imgs/Hung Jae In.png') }}" alt="">
                    <div class="slider-content | flow" style="--flow-spacer: 1rem">
                        <h3 class="font-weight-bold">Hung Jae In</h3><p data-width="wide">With recommendations from HomeInspire, I was connected to the best interior decorators who turned a small space into my dream space.</p>
                    </div>
                </li>
                <li>
                    <img src="{{url_for('static', filename = 'imgs/favour Itagar.png') }}" alt="">
                    <div class="slider-content | flow" style="--flow-spacer: 1rem">
                        <h3 class="font-weight-bold">Favour Itagar</h3><p data-width="wide">I love and collect artworks but don't know how to arrange my collection within my house. Thank you so much for the amazing inspirations!</p>
                    </div>
                </li>
                <li>
                    <img src="{{ url_for('static', filename = 'imgs/Cole.png') }}" alt="">
                    <div class="slider-content | flow" style="--flow-spacer: 1rem">
                        <h3 class="font-weight-bold">Jermaine Cole</h3><p data-width="wide">I subscribed to the newsletter and now my friends and family think I am a designer becuase I give the best advice when organising a space.</p>
                    </div>
                </li>
                <li>
                    <img src="{{ url_for('static', filename = 'imgs/Rocky.png') }}">
                    <div class="slider-content | flow" style="--flow-spacer: 1rem">
                        <h3 class="font-weight-bold">Astro Rocky</h3><p data-width="wide">My penthouse feels like a mansion and I am no more clueless about decorations around the house although I outsourced it to one of your recommendations. </p>
                    </div>
                </li>
              </ul>
        </section>
        <section>
            <div class="container text-center">
                <h2 class="sites-heading font-size-secondary-heading font-weight-bold text-center" id="about-us">About Us</h2>
                <p class="about-us">We want everyone to be able to get the dream house designs they want for what ever amount they have. We provide information on how to get the right people for the job or advice on DIY concepts to get the job done.</p>
            </div>
        </section>
    </main>

    <footer class="footer | padding-block-700 bg-neutral-900 text-neutral-100">
        <div class="container">
            <div class="footer-container">
                    <ul class="social-list" role="list" aria-label="social media">
                        <li><a aria-label="facebook" href="#">
                            <svg class="social-icon">
                                <use href="{{ url_for('static', filename = 'imgs/social-icons.svg#icon-facebook') | replace('%23', '#') }}">
                              </svg>
                        </a></li>
                        <li><a aria-label="twitter" href="#">
                            <svg class="social-icon">
                                <use href="{{ url_for('static', filename = 'imgs/social-icons.svg#icon-twitter') | replace('%23', '#') }}"></use>
                              </svg>
                        </a></li>
                        <li><a aria-label="pinterest" href="#">
                            <svg class="social-icon">
                                <use xlink:href="{{ url_for('static', filename = 'imgs/social-icons.svg#icon-pinterest') | replace('%23', '#') }}"></use>
                              </svg>
                        </a></li>
                        <li><a aria-label="instagram" href="#">
                            <svg class="social-icon">
                                <use xlink:href="{{ url_for('static', filename = 'imgs/social-icons.svg#icon-instagram') | replace('%23', '#') }}"></use>
                              </svg>
                        </a></li>
                    </ul>
                <div class="footer-nav-container">
                    <nav class="footer-nav">
                        <ul class="flow" style="--flow-spacer: 1em" aria-label="Footer" role="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Agents</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- <div class="footer-form"> -->
                    <form class="footer-form" action="">
                        <input class="font-size-300 text-center" id="newsletter" type="email" placeholder="Enter your email"><button class="button" data-shadow="none">Go</button>
                    </form>
                    <p class="footer-copyright">Copyright 2022. All Rights Reserved</p>
                <!-- </div> -->
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/a11y-slider@latest/dist/a11y-slider.js"></script>
    <script src="{{ url_for('static', filename = 'js/home.js') }}"></script>
</body>
</html>